@charset "utf-8";
/* CSS Document */

.right_list_container
{
	
  height: auto;
  width: 100%;

}

.product_list_left
{
	width:590px;
	display: inline-block;
	height:70px;
	background:#D9D9D9;
	padding:6px 15px;
}

.product_list_img
{
	float:left;
}

.product_list_center{
  float: left;
  margin:3px 20px;
  padding: 0;
}

.product_list_center h2 {
  color: #124375;
  font-family: Arial;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.product_list_center h3 {
  color: #124375;
  font-family: Arial;
  font-size:14px;
  margin: 0;
  padding: 0;
}

.product_list_center h3 span {
  color: #00428C;
  font-family: Arial;
  font-size:14px;
  margin: 0;
  padding: 0;
}


.product_list_center h4 {
  color: #124375;
  font-family: Arial;
  font-size:14px;
  margin: 0;
  padding:8px 0 0 0;
  font-weight:lighter;
}

.product_list_center h4 span {
  float: left;
  margin: 0px 10px 0 0;
  padding: 0;
}

.product_list_right_inn
{
	float:left;
	color: #124375;
	font-family: Arial;
	font-size:15px;
	margin: 0;
	padding:8px 0 0 0;
	font-weight:600;

}


.product_list_right
{
  display: inline-block;
	width:343px;
	  height: 100%; 
	background:#C6D1DD;
	padding:6px 15px;
	position: relative;

}

.product_list_right_content
{
	float:left;
}

.product_list_right_content h2
{
	color: #AF1D29;
	font-family: Arial;
	font-size:16px;
	margin:10px 0;
	padding:0 0;
	font-weight:lighter;

}


.product_cart_btn
{
	float:right;
	font-size: 22px;
   	margin-top:12px;
    width: 42px;
    height: 42px;
    color:#fff;
    display: inline-block;
    background-color: #57634b;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
   
}

.product_cart_btn i {
	margin-top: 8px;
}
.cart_btn{
	font-size: 20px;
	position: absolute;
	border-radius:4px;
	color: white;
	right: 15px;
	cursor: pointer;

} 	
.amount{
		margin-top:12px;
	float:right;
	background-color: #85977d;
	padding: 0;
	width: 0px;
    height: 42px;
    border: none;
    text-align: center;
    color:#fff;
    font-size: 20px;
    transition: width 1s;



}
.amount:focus{
	outline: 0;
}
.left{
	background-image: url();
	padding-top: 12px;
	box-sizing: border-box;
		margin-top:12px;
	float:right;
	display: inline-block;
	width: 0px;
   height: 42px;
   background-color: #57634b;
   vertical-align: middle;
   text-align: center;
   border-bottom-left-radius: 4px; 
    border-top-left-radius: 4px; 
    transition: width 1s;
    overflow-x: hidden;

}
.right{
	padding-top: 12px;
	box-sizing: border-box;
		margin-top:12px;
	float:right;
	display: inline-block;
	width: 0px;
    height: 42px;
    background-color: #57634b;
    vertical-align: middle;
    text-align: center;
    border-bottom-right-radius: 4px; 
    border-top-right-radius: 4px; 
    transition: width 1s;
     overflow-x: hidden;

}






